html body{
  background-image: url(../img/about-bg-gradient.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-color: #000;
  color: #fff;
  transition: all 0.3s;
}
html body > * {
  color: #fff;
}
html body.white > *{
  background-color: #fff;
  color: #000;
}
html body.white > *{
  color: #000;
}
header{
  background-color: transparent;
}
header a{
  color: #fff;
}
header a:hover{
  color: #fff;
}
header .navbar{
  background-color: transparent !important;
}
.white{
  background-color: #fff;
  color: #000;
}
header ul.enb li:nth-child(1) a:not(.white){ 
  background-image: url(../img/searchWhite.svg);
}
header ul.enb li:nth-child(2) a:not(.white){ 
  background-image: url(../img/langWhite.svg);
}
header ul.gnb li h2.h4.current::after{
  content: "";
  display: block;
  width: 5px;
  height: 5px;
  background-color: #ccc;
  transform: translateY(-30px);
  transition: all 0.3s;
}
#title { 
  padding-top: 260px;
  color: #fff;
  height: 100%;
  box-sizing: border-box;
}
#title .wrap {
  width: calc(100% - 30px);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: self-start;
}
#title span{
  overflow: hidden;
  display: block;
}
#title h2.h2 { 
  font-size: 150px;
  transform: scaleY(0.9);
  letter-spacing: -1px;
  overflow: hidden;
  transform: translateY(50%);
}

#title p.h3 {   
  margin-top: 70px;
  line-height: 1.5;
}